.trace-viewer-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.trace-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  background: white;
  flex: 1;
  min-height: 0;
}
